.container {
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
}
.title2 {
  font-size: 16px;
  font-weight: bold;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.content-child {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-top: 8px;
}
.content-child p {
  margin-top: 7px;
}
.status p {
  margin-top: 10px;
  font-size: 14px;
  color: #a6a8b1;
  text-transform: capitalize;
}
.light {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
